language: cpp
sudo: required
dist: bionic

os:
  - linux

compiler:
  - gcc

before_install:
  - sudo apt-get install libboost-program-options-dev
  - sudo apt-get install libopenmpi-dev openmpi-common
  - sudo apt-get install libeigen3-dev
  - sudo apt-get install libtbb-dev
  - sudo apt-get install libspdlog-dev

before_script:
  - . bootstrap.sh
  
script:
  - mkdir build && cd build && cmake .. -DBUILD_TESTING=ON -DSEWAS_DISTRIBUTED=OFF -DSEWAS_WITH_PARSEC=OFF -DVERBOSE=ON
  - make -j
