dist: xenial

language: cpp

os:
  - linux

compiler:
  - gcc

before_install:
  - sudo apt-get install libboost-program-options-dev
  - sudo apt-get install libopenmpi-dev openmpi-common
  - sudo apt-get install libeigen3-dev
  - sudo apt-get install libtbb-dev
  - sudo apt-get install libspdlog-dev

script:
  - mkdir build
  - cd build
  - cmake --version
  - cmake .. -DBUILD_TESTING=OFF -DSEWAS_DISTRIBUTED=OFF -DSEWAS_WITH_PARSEC=OFF -DENABLE_LOGGER=ON
