name: Linux

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: install dependencies
      run : |
          sudo apt-get install libboost-program-options-dev
          sudo apt-get install libopenmpi-dev openmpi-common
          sudo apt-get install libeigen3-dev
          sudo apt-get install libtbb-dev
          sudo apt-get install libspdlog-dev
          sudo apt-get install flex bison

    - name: bootstrap
      run: . bootstrap.sh

    - name: configure
      run: mkdir build && cd build && cmake .. -DBUILD_TESTING=ON -DCOLLECT_STATS=ON -DSEWAS_DISTRIBUTED=ON -DSEWAS_WITH_PARSEC=ON -DVERBOSE=ON && cd -
    - name: build
      run: cmake --build build --config Release
      
    - name: test
      run: cd build && ctest --output-on-failure
